body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange {
  color: orange;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#ff6d4f, orange);
  padding: 10px 20px;
  color: white;
  border-radius: 5%;
  font-weight: 700;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
